<template>
  <div class="admin-auth-page">
    <div class="auth-container">
      <form @submit.prevent="authenticateUser({...credentials})">
        <AppControlInput type="email" v-model="credentials.email">E-Mail Address</AppControlInput>
        <AppControlInput type="password" v-model="credentials.password">Password</AppControlInput>
        <AppButton type="submit">{{ credentials.isLogin ? 'Login' : 'Sign Up' }}</AppButton>
        <AppButton
          type="button"
          btn-style="inverted"
          style="margin-left: 10px"
          @click="credentials.isLogin = !credentials.isLogin"
        >Switch to {{ credentials.isLogin ? 'Signup' : 'Login' }}</AppButton>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'AdminAuthPage',
  /** overriding the admin layout to access it without being logged in */
  layout: 'default',
  data: () => ({
    credentials: {
      isLogin: true,
      email: '',
      password: '',
      returnSecureToken: true
    }
  }),
  methods: mapActions(['authenticateUser'])
};
</script>

<style scoped>
.admin-auth-page {
  padding: 20px;
}

.auth-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px #ccc;
  width: 300px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}
</style>
