<template>
  <div class="single-post-page">
    <section class="post">
      <h1 class="post-title">Post {{ loadedPost.title }}</h1>
      <div class="post-details">
        <div class="post-detail">Last updated on {{ loadedPost.updatedDate | date }}</div>
        <div class="post-detail">Written by {{ loadedPost.author }}</div>
      </div>
      <p class="post-content">{{ loadedPost.content }}</p>
    </section>
    <section class="post-feedback">
      Let me know what you think of the post, send an email
      <a
        href="mailto:feedback@example.com"
      >here</a>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData(ctx) {
    const loadedPost = await ctx.$axios.$get(`/posts/${ctx.params.id}.json`);
    return { loadedPost };
  },
  head: {
    title: 'A blog post'
  }
  // Remove dummy data to fetch a firebase response
  // asyncData: async context =>
  //   new Promise(resolve =>
  //     setTimeout(() => {
  //       resolve({
  //         loadedPost: {
  //           id: '3',
  //           title: context.route.params.id,
  //           previewText: 'This is our second post!',
  //           author: 'Darío',
  //           updatedDate: new Date(),
  //           content:
  //             'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, voluptatibus laboriosam ducimus possimus itaque cupiditate nobis aperiam eius. Tempore magnam officia quae nam libero quaerat quam tenetur, consequuntur reiciendis voluptatem minus magni dolores suscipit quisquam. Deserunt dolorem neque nam officiis.',
  //           thumbnail:
  //             'https://source.unsplash.com/random/?coding,web,computer?sig='
  //         }
  //       });
  //     }, 500)
  //   )
};
</script>

<style scoped>
.single-post-page {
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

.post {
  width: 100%;
}

@media (min-width: 768px) {
  .post {
    width: 600px;
    margin: auto;
  }
}

.post-title {
  margin: 0;
}

.post-details {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .post-details {
    flex-direction: row;
  }
}

.post-detail {
  color: rgb(88, 88, 88);
  margin: 0 10px;
}

.post-feedback a {
  color: red;
  text-decoration: none;
}

.post-feedback a:hover,
.post-feedback a:active {
  color: salmon;
}
</style>
