<template>
  <div class="admin-post-page">
    <section class="update-form">
      <AdminPostForm @submit="editPost" :post="loadedPost"/>
    </section>
  </div>
</template>

<script>
import AdminPostForm from '~/components/Admin/AdminPostForm';
import { mapActions } from 'vuex';

export default {
  layout: 'admin',
  async asyncData(ctx) {
    const fetchedPost = await ctx.$axios.$get(
      `/posts/${ctx.params.postId}.json`
    );
    return {
      loadedPost: {
        ...fetchedPost,
        id: ctx.params.postId
      }
    };
  },
  components: { AdminPostForm },
  methods: mapActions('posts', ['editPost'])
};
</script>

<style scoped>
.update-form {
  width: 90%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .update-form {
    width: 500px;
  }
}
</style>
