<template>
  <section class="container">
    <appHeader/>
    <button @click="navigateToProducts">Go to products</button>
  </section>
</template>

<script>
import appHeader from '~/components/Header';
export default {
  methods: {
    navigateToProducts() {
      this.$router.push('/products');
    }
  },
  components: {
    appHeader
  }
};
</script>
