<template>
  <div>
    <h1>The users view</h1>
    <input type="text" v-model="userId">
    <button class="button--green" @click="navigateToUser">Load User</button>
    <nuxt-child/>
    <Logo/>
  </div>
</template>

<script>
import Logo from '~/components/Logo';
export default {
  data: () => ({ userId: '' }),
  methods: {
    navigateToUser() {
      this.$router.push(`/users/${this.userId}`);
    }
  },
  layout: 'users',
  components: { Logo }
};
</script>
