<template>
  <div class="single-post-page">
    <section class="post">
      <h1 class="post-title">{{ loadedPost.title }}</h1>
      <div class="post-details">
        <div class="post-detail">Last updated on {{ loadedPost.updatedDate | date }}</div>
        <div class="post-detail">Written by {{loadedPost.author}}</div>
      </div>
      <p>{{loadedPost.content }}</p>
    </section>
    <section class="post-feedback">
      <p class="post-content">
        Let me know what you thing about the post, send a mail to
        <a
          href="mailto:feedback@awesomeblog.com"
        >This awesome domain</a>
      </p>
    </section>
  </div>
</template>

<script>
export default {
  /** We'll remove the asyncData call here to replace with a real api call. (Api calls inside
   * components weren't supposed to be anti-pattern?) */
  // asyncData: context =>
  //   new Promise(resolve => {
  //     setTimeout(() => {
  //       resolve({
  //         loadedPost: {
  //           id: '1',
  //           title: `First Post (id: ${context.params.id})`,
  //           previewText: 'This is our first post!',
  //           author: 'Maximilian',
  //           updatedDate: new Date(),
  //           content: 'Some dummy text which is definitely not the preview',
  //           thumbnail:
  //             'https://source.unsplash.com/random/?coding,web,computer?sig=5'
  //         }
  //       });
  //     }, 1000);
  //   })
  asyncData: context =>
    context.$axios
      .$get(
        `${process.env.baseURL}/posts/${
          context.params.id
        }.json`
      )
      .then(result => {
        // console.log(context);
        return { loadedPost: result };
      })
};
</script>

<style scoped>
.single-post-page {
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

.post {
  width: 100%;
}

@media (min-width: 768px) {
  .post {
    width: 600px;
    margin: auto;
  }
}

.post-title {
  margin: 0;
}

.post-details {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .post-details {
    flex-direction: row;
  }
}

.post-detail {
  color: rgb(88, 88, 88);
  margin: 0 10px;
}

.post-feedback a {
  color: red;
  text-decoration: none;
}

.post-feedback a:hover,
.post-feedback a:active {
  color: salmon;
}
</style>
