<template>
  <div class="admin-post-page">
    <section class="update-form">
      <AdminPostForm :post="loadedPost" @submit="onUpdatingPost"/>
    </section>
  </div>
</template>

<script>
import AdminPostForm from '@/components/Admin/AdminPostForm';
import { mapGetters, mapActions } from 'vuex';

export default {
  components: { AdminPostForm },
  /** Here we need to load a post to edit it, but the form is just one component
   * Removed static loaded post to fetch an already existing post in the store.
   * However, Max uses asyncData to load the post from the server. not from the store
   * Thinking about the implications of this:
   *
   * This will works always here because the store is filled when we reload the page
   * thanks to nuxtServerInit, however, it will not if the landing page has pagination,
   * in that case is better to load the post from the url (but again i have an issue
   * with calling axios from a component, is anti-pattern for me, but maybe i'm wrong).
   *
   */
  // data: () => ({
  //   loadedPost: {
  //     author: 'Darío',
  //     title: 'My awesome post',
  //     content: 'Super amazing',
  //     thumbnailLink: 'hello'
  //   }
  // }),
  layout: 'admin',
  computed: {
    ...mapGetters(['loadedPosts']),
    loadedPost() {
      /** In the future, you can find the params reference in the name of the folder */
      return this.loadedPosts.find(
        post => post.id === this.$route.params.postId
      );
    }
  },
  methods: {
    ...mapActions(['editPost']),
    onUpdatingPost(editedPost) {
      editedPost.updatedDate = new Date();
      editedPost.previewText = editedPost.content.substring(0, 30);
      // removing axios logic to place it in the store
      this.editPost(editedPost);
    }
  }
};
</script>

<style scoped>
.update-form {
  width: 90%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .update-form {
    width: 500px;
  }
}
</style>

