<template>
  <div class="home-page">
    <section class="intro">
      <h1>Get the latest tech news Wow!</h1>
    </section>
    <PostList :posts="loadedPosts"/>
  </div>
</template>

<script>
import PostList from '../components/Posts/PostList';
import { mapGetters } from 'vuex';
export default {
  components: { PostList },
  computed: mapGetters(['loadedPosts'])
  /** asyncData with callbacks is deprecated!
  asyncData: (context, done) => {
    setTimeout(() => {
      done(null, {});
    }, 1500);
  },
  data: () => ({})
  AsyncData and fetch are removed in favor of using nuxtServerInit() action on the store
  */
  // asyncData: context =>
  //   new Promise(resolve => {
  //     setTimeout(
  //       () =>
  //         resolve({
  //           loadedPosts: [
  //             {
  //               id: '1',
  //               title: 'First Post',
  //               previewText: 'This is our first post!',
  //               thumbnail:
  //                 'https://source.unsplash.com/random/?coding,web,computer?sig=1'
  //             },
  //             {
  //               id: '2',
  //               title: 'Second Post',
  //               previewText: 'This is our Second post!',
  //               thumbnail:
  //                 'https://source.unsplash.com/random/?coding,web,computer?sig=2'
  //             },
  //             {
  //               id: '3',
  //               title: 'Third Post',
  //               previewText: 'This is our Third post!',
  //               thumbnail:
  //                 'https://source.unsplash.com/random/?coding,web,computer?sig=3'
  //             }
  //           ]
  //         }),
  //       1500
  //     );
  //   }).then(data => data).catch(() => context.error(new Error()))
};
</script>

<style scoped>
.intro {
  height: 300px;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-image: url('~assets/img/main-page-background.jpg');
}

.intro h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .intro h1 {
    font-size: 2rem;
  }
}
</style>
