<template>
  <div class="admin-new-post-page">
    <section class="new-post-form">
      <AdminPostForm @submit="onSubmitted"/>
    </section>
  </div>
</template>

<script>
import AdminPostForm from '@/components/Admin/AdminPostForm';
import { mapActions } from 'vuex';
export default {
  layout: 'admin',
  components: { AdminPostForm },
  methods: {
    ...mapActions(['addPost']),
    onSubmitted(postData) {
      /** Removing axios call to use it in store. Note: if we return the axios promise we can use
       * the then in this component
       */
      this.addPost(postData);
    }
  }
};
</script>

<style scoped>
.new-post-form {
  width: 90%;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .new-post-form {
    width: 500px;
  }
}
</style>
