<template>
  <div>
    <nuxt/>
  </div>
</template>

<script>
export default {
  middleware: ['checkAuth', 'auth']
};
</script>


<style>
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
</style>
