<template>
  <div>
    <TheHeader @sidenavToggle="displaySidenav = !displaySidenav"/>
    <TheSidenav @close="displaySidenav = false" :show="displaySidenav"/>
    <nuxt/>
  </div>
</template>

<script>
import TheHeader from '@/components/Navigation/TheHeader';
import TheSidenav from '@/components/Navigation/TheSidenav';
export default {
  data: () => ({
    displaySidenav: false
  }),
  // middleware: 'log',
  components: {
    TheHeader,
    TheSidenav
  }
};
</script>


<style>
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
</style>
