<template>
  <!-- This component will be used for re-using a form with update and create -->
  <!-- Not action because the form will be handled by javascript, and not
  sending a request to the server
  Also, by using a submit allows the form to be sent with an enter keystroke-->
  <form @submit.prevent="onSave">
    <AppControlInput v-model="editedPost.author">Author Name</AppControlInput>
    <AppControlInput v-model="editedPost.title">Title</AppControlInput>
    <AppControlInput v-model="editedPost.thumbnail">Thumbnail Link</AppControlInput>
    <AppControlInput control-type="textarea" v-model="editedPost.content">Content</AppControlInput>
    <AppButton type="submit">Save</AppButton>
    <AppButton type="button" style="margin-left: 10px" btn-style="cancel" @click="onCancel">Cancel</AppButton>
  </form>
</template>

<script>
/** Custom component imports were removed due to the fact that these were added as
 * global components through a plugin and nuxt.config file
 */
export default {
  /** To accept existing post, then we need to set the values in data with spread operator*/
  props: {
    post: {
      type: Object,
      required: false,
      default: () => ({
        author: '',
        title: '',
        thumbnail:
          'https://source.unsplash.com/random/?coding,web,computer?sig=',
        content: ''
      })
    }
  },
  /** Passing the props to the edited object to set initial state.
   * GIANT MISTAKE HERE FROM ME:
   * When passing props to data inherent to the component DO NOT
   * use an arrow function to declare it.
   */
  // data: () => ({
  //   editedPost: { ...this.post }
  // }), DOES NOT work with arrow function, and copying it for
  // immutability in the parent
  data() {
    return {
      editedPost: { ...this.post }
    };
  },
  methods: {
    onSave() {
      this.editedPost.thumbnail += Math.floor(Math.random() * 10 + 1);
      // console.log(this.editedPost);
      // Not saving the post here, but rather were this component is rendered, this allows to
      // save the data under different contexts
      this.$emit('submit', this.editedPost);
    },
    onCancel() {
      this.$router.push('/admin');
    }
  }
};
</script>

<style>
</style>
