<template>
  <h1>A single User {{ currentId }}</h1>
</template>

<script>
export default {
  computed: {
    currentId() {
      return this.$route.params.id;
    }
  },
  /** This is a Pages exclusive like 'life cycle hook' that nuxt inyects.
   * Docs def: Nuxt lets you define a validator method inside your dynamic route component
   * If the validator does not return true, nuxt will automatically load the 404 error.
   * It is important to note that vue elements like router are not available at this
   * point in time, the parameter is what fetches the data to validate
   */
  validate(data) {
    console.log(data);
    // return data.params.id === '1';
    // Using regex to match any digit
    return /^\d+$/.test(data.params.id);
  },
  layout: 'users'
};
</script>

<style>
</style>
