<template>
  <div class="posts-page">
    <PostList :posts="loadedPosts"/>
  </div>
</template>

<script>
import PostList from '@/components/Posts/PostList';
import { mapGetters } from 'vuex';
export default {
  components: {
    PostList
  },
  /** Removed this in favor of loading data directly in the store with
   * nuxtServerInit action.
   *
   */
  // fetch: context =>
  //   new Promise(resolve => {
  //     setTimeout(
  //       () =>
  //         resolve({
  //           loadedPosts: [
  //             {
  //               id: '1',
  //               title: 'First Post',
  //               previewText: 'This is our first post!',
  //               thumbnail:
  //                 'https://source.unsplash.com/random/?coding,web,computer?sig=1'
  //             },
  //             {
  //               id: '2',
  //               title: 'Second Post',
  //               previewText: 'This is our Second post!',
  //               thumbnail:
  //                 'https://source.unsplash.com/random/?coding,web,computer?sig=2'
  //             },
  //             {
  //               id: '3',
  //               title: 'Third Post',
  //               previewText: 'This is our Third post!',
  //               thumbnail:
  //                 'https://source.unsplash.com/random/?coding,web,computer?sig=3'
  //             }
  //           ]
  //         }),
  //       1500
  //     );
  //   })
  //     .then(data => {
  //       context.store.dispatch('setPosts', data.loadedPosts);
  //     })
  //     .catch(() => context.error(new Error())),
  // created() {
  //   /** This will run once the component was initialized, and it will work because nuxt runs the
  //    * asyncData hook before the component is created
  //    */
  //   this.$store.dispatch('setPosts', this.loadedPosts);
  // },
  computed: mapGetters(['loadedPosts'])
};
</script>

<style scoped>
.posts-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
