<template>
  <div>
    <TheHeader :name="name" @sidenavToggle="displaySideNav = !displaySideNav"/>
    <TheSidenav :show="displaySideNav" @close="displaySideNav = false"/>
    <nuxt/>
  </div>
</template>

<script>
import TheHeader from '~/components/Navigation/TheHeader';
import TheSidenav from '~/components/Navigation/TheSidenav';

export default {
  data: () => ({
    displaySideNav: false,
    name: 'WD BLOG'
  }),
  components: {
    TheHeader,
    TheSidenav
  }
};
</script>


<style>
html {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
body {
  margin: 0px;
  padding: 0px;
}
</style>
