<template>
  <div class="home-page">
    <section class="intro">
      <h1>{{hello}}! Get the latest tech news!</h1>
    </section>
    <section>
      <PostList :posts="loadedPosts"/>
    </section>
  </div>
</template>

<script>
import PostPreview from '~/components/Posts/PostPreview';
import { mapGetters } from 'vuex';
export default {
  data: () => ({ hello: process.env.HELLO }),
  components: { PostPreview },
  // Created always happen in the client side! the html is served without the
  // dynamic content. To add SEO this will hurt it.
  // asyncData: async context => {
  // fetch: async context => {
  // console.log(context);
  // removed the promised return to manage it in the nuxtServerInit action in the store.
  // return;
  // },
  computed: mapGetters('posts', ['loadedPosts']),
  middleware: 'log'
  // methods: mapActions('posts', ['setPosts']),
};
</script>

<style scoped>
.intro {
  height: 300px;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  background-image: url('~assets/img/main-page-background.jpg');
  background-position: center;
  background-size: cover;
}

.intro h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .intro h1 {
    font-size: 2rem;
  }
}

.featured-posts {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
</style>
