<template>
  <div class="admin-auth-page">
    <div class="auth-container">
      <form @submit.prevent="authenticateUser({ email, password, isLogin })">
        <AppControlInput v-model="email" type="email">E-Mail Address</AppControlInput>
        <AppControlInput v-model="password" type="password">Password</AppControlInput>
        <AppButton type="submit">{{ isLogin ? 'Login' : 'Sign Up' }}</AppButton>
        <AppButton
          type="button"
          btn-style="inverted"
          style="margin-left: 10px"
          @click="isLogin = !isLogin"
        >Switch to {{ isLogin ? 'Signup' : 'Login' }}</AppButton>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'AdminAuthPage',
  data: () => ({
    isLogin: true,
    email: '',
    password: ''
  }),
  methods: mapActions('auth', ['authenticateUser'])
};
</script>

<style scoped>
.admin-auth-page {
  padding: 20px;
}

.auth-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px #ccc;
  width: 300px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}
</style>
