<template>
  <section class="post-list">
    <div v-for="post in posts" :key="post.id">
      <PostPreview
        :id="post.id"
        :title="post.title"
        :is-admin="isAdmin"
        :previewText="post.previewText"
        :thumbnail="post.thumbnail"
      />
    </div>
  </section>
</template>

<script>
// https://source.unsplash.com/random/?coding,web,computer?sig=${n}
import PostPreview from '@/components/Posts/PostPreview';
export default {
  components: { PostPreview },
  props: {
    isAdmin: {
      type: Boolean,
      default: false
    },
    posts: {
      type: Array,
      required: true
    }
  }
};
</script>

<style>
.post-list {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
</style>
