<template>
  <div>
    <h1>The products page</h1>
    <div v-for="n in 2" :key="n">
      <nuxt-link :to="`/products/${n}`">Product {{n}}</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {};
</script>

