<template>
  <div class="posts-page">
    <PostList :posts="loadedPosts"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: mapGetters('posts', ['loadedPosts'])
  // created() {
  //   // console.log(this.$store.state);
  // }
  // Commented due to nuxtServerInit action to do this lift in the store.
  // this methods runs before the template is rendered
  // asyncData: () =>
  //   new Promise(resolve =>
  //     setTimeout(() => {
  //       resolve({
  //         loadedPosts: [
  //           {
  //             id: '1',
  //             title: 'First post',
  //             previewText: 'This is our first post!',
  //             thumbnail:
  //               'https://source.unsplash.com/random/?coding,web,computer?sig='
  //           },
  //           {
  //             id: '2',
  //             title: 'Second post',
  //             previewText: 'This is our second post!',
  //             thumbnail:
  //               'https://source.unsplash.com/random/?coding,web,computer?sig='
  //           },
  //           {
  //             id: '3',
  //             title: 'Second post',
  //             previewText: 'This is our second post!',
  //             thumbnail:
  //               'https://source.unsplash.com/random/?coding,web,computer?sig='
  //           },
  //           {
  //             id: '4',
  //             title: 'Second post',
  //             previewText: 'This is our second post!',
  //             thumbnail:
  //               'https://source.unsplash.com/random/?coding,web,computer?sig='
  //           }
  //         ]
  //       });
  //     }, 500)
  //   )
};
</script>

<style>
.posts-page {
  display: flex;
  align-content: center;
  align-items: center;
}
</style>
