<template>
  <div class="admin-page">
    <section class="new-post">
      <AppButton @click="$router.push('/admin/new-post')">Create post</AppButton>
      <AppButton @click="$router.push('/')">Cancel</AppButton>
      <AppButton @click="logout">Logout</AppButton>
    </section>
    <section class="existing-post">
      <h1>Existing Posts</h1>
      <PostList isAdmin :posts="loadedPosts"/>
    </section>
  </div>
</template>

<script>
import PostList from '@/components/Posts/PostList';
import { mapGetters, mapActions } from 'vuex';

export default {
  components: {
    PostList
  },
  computed: mapGetters(['loadedPosts']),
  methods: mapActions(['logout']),
  layout: 'admin'
};
</script>

<style scoped>
.admin-page {
  padding: 20px;
}

.new-post {
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.existing-posts h1 {
  text-align: center;
}
</style>
